.anime-page {
  display: flex;
  gap: 2rem;
}

.anime-page__banner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

//description
.anime-page__description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.animePage-text {
  max-width: 600px;
  text-indent: 2%;
}

//rate
.anime-page__rate {
  display: flex;
  gap: 0.5rem;
}

.anime-page__rate-text {
  color: #e6e6e6;
}

//block
.anime-page__year, .anime-page__genres, .anime-page__age {
  display: flex;
  align-items: center;
  gap: 1rem;
}

//text + title
.animePage-title {
  color: mediumpurple;
  font-size: 24px;
  font-weight: bold;
}

.anime-page__year-title, .anime-page__genres-title, .anime-page__age-title, .anime-page__description-title {
  color: mediumpurple;
  font-size: 24px;
  font-weight: bold;
}

.anime-page__year-text, .anime-page__genres-text, .anime-page__age-text {
  color: #e6e6e6;
  font-size: 18px;
  font-weight: bold;
}


.anime-page__description-text {
  color: #e6e6e6;
  margin-top: 1rem;
  max-width: 700px;
}

//video
.anime-page__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.anime-page__video_title {
  color: mediumpurple;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 5px;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid mediumpurple;
}

.anime-page__video_video {
  max-width: 100%;
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

@media screen and (max-width: 1150px) {
  .anime-page__video_video {
    max-width: 90%;
    height: 550px;
  }
}

@media screen and (max-width: 769px) {
  .anime-page {
    flex-direction: column;
  }

  .animePage-img {
    max-width: 300px;
    max-height: 400px;
  }

  .anime-page__video_video {
    max-width: 80%;
    height: 500px;
  }
}

@media screen and (max-width: 525px) {
  .anime-page__video_video {
    max-width: 95%;
    height: 400px;
  }
}