@font-face {
  font-family: AnimeFont;
  src: url("./fonts/AnimeFont.ttf") format("truetype");
}
.header {
  padding: 1rem 0;
  background-color: #333;
  border-bottom: 3px solid mediumpurple;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.header__logo_text {
  font-family: "Overpass", sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
}

.header__logo_text > span {
  font-family: "AnimeFont", sans-serif;
  color: mediumpurple;
  font-size: 30px;
  font-weight: bold;
  padding-left: 0.2rem;
}

.header__list_link {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.header__list_link:hover {
  color: rebeccapurple;
}
.header__list_link_active {
  transition: all 0.3s ease-in-out;
  color: mediumpurple;
}

.society {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.society__img {
  width: 100%;
  max-width: 25px;
  object-fit: cover;
}

.footer {
  border-top: 2px solid #cdcdcd;
  padding: 1rem 0;
  background-color: #333;
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer__list_link {
  color: #cdcdcd;
}

.name_project__text {
  color: #cdcdcd;
}

.main__content_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.main__content_title > h2 {
  color: mediumpurple;
  font-size: 64px;
  text-align: center;
}

#anime-select {
  cursor: pointer;
  color: mediumpurple;
  padding: 0.5rem;
  height: 40px;
  border: 2px solid mediumpurple;
  border-radius: 10px;
  background-color: #252525;
  outline: none;
  transition: all 0.3s ease-in-out;
}
#anime-select:hover {
  background-color: #333;
}

.search-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.search_bar {
  color: mediumpurple;
  padding: 1rem 1rem;
  border-radius: 10px;
  width: 400px;
  height: 50px;
  border: 3px solid mediumpurple;
  background-color: #252525;
  transition: all 0.3s ease-in-out;
}
.search_bar:hover {
  background-color: #333;
}
.search_bar:focus {
  outline: none;
}
.search_bar::placeholder {
  color: mediumpurple;
  opacity: 0.6;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main__content_cards {
  min-height: 100px;
  padding-top: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.card__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem 2rem;
}

.card__wrap {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.poster {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  padding: 5px;
  background-color: #333333;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  top: 2%;
  left: -1%;
}

.star-rate {
  margin-left: 5px;
}

.rate-anime {
  padding-top: 3px;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  z-index: 6;
  color: mediumpurple;
}

.card__title {
  text-align: center;
  color: mediumpurple;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  white-space: nowrap;
}

.card__img {
  display: block;
  object-fit: fill;
  width: 100%;
  height: 355px;
}

.card__wrap:hover {
  transform: translateY(-1rem);
  box-shadow: 0 0 30px 2px rebeccapurple;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.select_year__inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.min, .max {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.select_year__inputs__text {
  color: mediumpurple;
  font-size: 18px;
  letter-spacing: 2px;
}

.max-input, .min-input {
  background-color: #404040;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 3.5px solid mediumpurple;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background: #333;
  cursor: pointer;
  box-shadow: 0 0 5px 1px #333;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.3rem;
  cursor: pointer;
  background: #252525;
  border-radius: 10px;
  border: 2px solid mediumpurple;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #333;
}

.reverse__btn {
  cursor: pointer;
  padding: 0.5rem 2rem;
  height: 40px;
  color: mediumpurple;
  background-color: #252525;
  border: 2px solid mediumpurple;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.reverse__btn:hover {
  background-color: #333;
}

.reset__btn {
  cursor: pointer;
  padding: 0.5rem 2rem;
  height: 40px;
  color: mediumpurple;
  background-color: #252525;
  border: 2px solid mediumpurple;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.reset__btn:hover {
  background-color: #333;
}

.text__error-found {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 30px;
  font-weight: bold;
  color: mediumpurple;
  text-align: center;
  margin: 0 0 1rem;
  padding: 0 1rem;
}

@media screen and (max-width: 1385px) {
  .main__content_search {
    flex-direction: column;
  }
}
@media screen and (max-width: 925px) {
  .btns {
    flex-direction: column;
  }
}
.main__content_info {
  padding: 3rem 0;
}

.main__content_info_title {
  color: mediumpurple;
  font-size: 30px;
  font-weight: bold;
}

.main__content_info_text {
  color: #e6e6e6;
  margin: 2rem 0;
}

.main__content_info_list {
  padding-left: 2rem;
  list-style: disc;
  color: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.main__content_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.main__content_title > h2 {
  color: mediumpurple;
  font-size: 64px;
  text-align: center;
}

#anime-select {
  cursor: pointer;
  color: mediumpurple;
  padding: 0.5rem;
  height: 40px;
  border: 2px solid mediumpurple;
  border-radius: 10px;
  background-color: #252525;
  outline: none;
  transition: all 0.3s ease-in-out;
}
#anime-select:hover {
  background-color: #333;
}

.search-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.search_bar {
  color: mediumpurple;
  padding: 1rem 1rem;
  border-radius: 10px;
  width: 400px;
  height: 50px;
  border: 3px solid mediumpurple;
  background-color: #252525;
  transition: all 0.3s ease-in-out;
}
.search_bar:hover {
  background-color: #333;
}
.search_bar:focus {
  outline: none;
}
.search_bar::placeholder {
  color: mediumpurple;
  opacity: 0.6;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main__content_cards {
  min-height: 100px;
  padding-top: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.card__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem 2rem;
}

.card__wrap {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.poster {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  padding: 5px;
  background-color: #333333;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  top: 2%;
  left: -1%;
}

.star-rate {
  margin-left: 5px;
}

.rate-anime {
  padding-top: 3px;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  z-index: 6;
  color: mediumpurple;
}

.card__title {
  text-align: center;
  color: mediumpurple;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  white-space: nowrap;
}

.card__img {
  display: block;
  object-fit: fill;
  width: 100%;
  height: 355px;
}

.card__wrap:hover {
  transform: translateY(-1rem);
  box-shadow: 0 0 30px 2px rebeccapurple;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.select_year__inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.min, .max {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.select_year__inputs__text {
  color: mediumpurple;
  font-size: 18px;
  letter-spacing: 2px;
}

.max-input, .min-input {
  background-color: #404040;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 3.5px solid mediumpurple;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background: #333;
  cursor: pointer;
  box-shadow: 0 0 5px 1px #333;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.3rem;
  cursor: pointer;
  background: #252525;
  border-radius: 10px;
  border: 2px solid mediumpurple;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #333;
}

.reverse__btn {
  cursor: pointer;
  padding: 0.5rem 2rem;
  height: 40px;
  color: mediumpurple;
  background-color: #252525;
  border: 2px solid mediumpurple;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.reverse__btn:hover {
  background-color: #333;
}

.reset__btn {
  cursor: pointer;
  padding: 0.5rem 2rem;
  height: 40px;
  color: mediumpurple;
  background-color: #252525;
  border: 2px solid mediumpurple;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.reset__btn:hover {
  background-color: #333;
}

.text__error-found {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 30px;
  font-weight: bold;
  color: mediumpurple;
  text-align: center;
  margin: 0 0 1rem;
  padding: 0 1rem;
}

@media screen and (max-width: 1385px) {
  .main__content_search {
    flex-direction: column;
  }
}
@media screen and (max-width: 925px) {
  .btns {
    flex-direction: column;
  }
}
.anime-page {
  display: flex;
  gap: 2rem;
}

.anime-page__banner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.anime-page__description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.animePage-text {
  max-width: 600px;
  text-indent: 2%;
}

.anime-page__rate {
  display: flex;
  gap: 0.5rem;
}

.anime-page__rate-text {
  color: #e6e6e6;
}

.anime-page__year, .anime-page__genres, .anime-page__age {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.animePage-title {
  color: mediumpurple;
  font-size: 24px;
  font-weight: bold;
}

.anime-page__year-title, .anime-page__genres-title, .anime-page__age-title, .anime-page__description-title {
  color: mediumpurple;
  font-size: 24px;
  font-weight: bold;
}

.anime-page__year-text, .anime-page__genres-text, .anime-page__age-text {
  color: #e6e6e6;
  font-size: 18px;
  font-weight: bold;
}

.anime-page__description-text {
  color: #e6e6e6;
  margin-top: 1rem;
  max-width: 700px;
}

.anime-page__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.anime-page__video_title {
  color: mediumpurple;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 5px;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid mediumpurple;
}

.anime-page__video_video {
  max-width: 100%;
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

@media screen and (max-width: 1150px) {
  .anime-page__video_video {
    max-width: 90%;
    height: 550px;
  }
}
@media screen and (max-width: 769px) {
  .anime-page {
    flex-direction: column;
  }
  .animePage-img {
    max-width: 300px;
    max-height: 400px;
  }
  .anime-page__video_video {
    max-width: 80%;
    height: 500px;
  }
}
@media screen and (max-width: 525px) {
  .anime-page__video_video {
    max-width: 95%;
    height: 400px;
  }
}
.error-message {
  color: mediumpurple;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

.error-info {
  color: mediumpurple;
  font-size: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Overpass", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

html, body {
  height: 100%;
}

.main {
  background-image: url("../public/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0;
  flex: 1;
}

body::-webkit-scrollbar {
  width: 0.45rem;
}

body::-webkit-scrollbar-track {
  background: #333333;
}

body::-webkit-scrollbar-thumb {
  background-color: mediumpurple;
  border-radius: 1rem;
  border: 2px solid #333333;
}

.loader-spinner {
  margin: auto auto;
  width: 250px;
  height: 250px;
}

body {
  background-color: #404040;
}

@media screen and (max-width: 1300px) {
  .main__content_cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .card__img {
    height: 415px;
  }
}
@media screen and (max-width: 1250px) {
  .main__content_search {
    flex-direction: column;
  }
  .reset__btn, .reverse__btn {
    width: 150px;
  }
}
@media screen and (max-width: 1250px) {
  .card__img {
    height: 375px;
  }
}
@media screen and (max-width: 1050px) {
  .main__content_cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card__img {
    height: 450px;
  }
}
@media screen and (max-width: 925px) {
  #anime-select {
    width: 220px;
  }
  .search-menu {
    flex-direction: column;
  }
  .card__img {
    height: 425px;
  }
}
@media screen and (max-width: 850px) {
  .card__img {
    max-height: 375px;
  }
}
@media screen and (max-width: 769px) {
  .main__content_cards {
    grid-template-columns: 1fr 1fr;
  }
  .card__img {
    max-width: 285px;
    max-height: 400px;
  }
  .society {
    display: none;
  }
}
@media screen and (max-width: 655px) {
  .header__list_item:first-child {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .card__img {
    max-width: 224px;
    max-height: 350px;
  }
}
@media screen and (max-width: 525px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card__img {
    max-width: 256px;
    max-height: 400px;
  }
  .main__content_cards {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 475px) {
  .btns {
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  .header__logo_text {
    font-size: 26px;
  }
  .header__logo_text span {
    font-size: 26px;
  }
  .search_bar {
    width: 300px;
  }
  .footer__content {
    align-items: flex-end;
  }
  .footer__list {
    align-items: baseline;
    flex-direction: column;
  }
  .card__img {
    max-width: 192px;
    max-height: 300px;
  }
  .header__list {
    gap: 2rem;
  }
}
@media screen and (max-width: 375px) {
  .header__list {
    gap: 1rem;
  }
}
@media screen and (max-width: 360px) {
  .btns {
    flex-direction: column;
  }
  .search_bar {
    width: 250px;
  }
  .header__logo_text {
    font-size: 24px;
  }
  .header__logo_text span {
    font-size: 24px;
  }
}

/*# sourceMappingURL=index.css.map */
