@font-face {
  font-family: AnimeFont;
  src: url("./fonts/AnimeFont.ttf") format("truetype");
}

@import "Styles/header.scss";
@import "Styles/footer.scss";
@import "Styles/AnimeList/animeList.scss";
@import "Styles/HomePage/homePage.scss";
@import "Styles/AnimeList/animeList.scss";
@import "Styles/AnimePage/animePage.scss";
@import "Styles/NotFound/notFound.scss";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Overpass', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

html, body {
  height: 100%;
}

.main {
  background-color: #404040;
  padding: 2rem 0;
  flex: 1;
}

//scrollbar
body::-webkit-scrollbar {
  width: 0.45rem;
}

body::-webkit-scrollbar-track {
  background: #333333;
}

body::-webkit-scrollbar-thumb {
  background-color: mediumpurple;
  border-radius: 1rem;
  border: 2px solid #333333;
}

//media

@media screen and (max-width: 1300px) {
  .main__content_cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .card__img {
    height: 415px;
  }
}

@media screen and (max-width: 1250px) {
  .main__content_search {
    flex-direction: column;
  }

  .reset__btn, .reverse__btn {
    width: 150px;
  }
}

@media screen and (max-width: 1250px) {
  .card__img {
    height: 375px;
  }
}

@media screen and (max-width: 1050px) {
  .main__content_cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card__img {
    height: 450px;
  }
}

@media screen and (max-width: 925px) {
  #anime-select {
    width: 220px;
  }

  .search-menu {
    flex-direction: column;
  }
  .card__img {
    height: 425px;
  }

}

@media screen and (max-width: 850px) {

  .card__img {
    max-height: 375px;
  }
}

@media screen and (max-width: 769px) {
  .main__content_cards {
    grid-template-columns: 1fr 1fr;
  }
  .card__img {
    max-width: 285px;
    max-height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .card__img {
    max-width: 224px;
    max-height: 350px;
  }
}

@media screen and (max-width: 550px) {
  .society {
    display: none;
  }
}

@media screen and (max-width: 525px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card__img {
    max-width: 256px;
    max-height: 400px;
  }

  .main__content_cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 475px) {
  .btns {
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .header__list {
    gap: 0;
  }

  .header__list_item {
    margin-right: 2rem;
  }

  .header__list_item:first-child {
    display: none;
  }

  .search_bar {
    width: 300px;
  }

  .footer__content {
    align-items: flex-end;
  }

  .footer__list {
    align-items: baseline;
    flex-direction: column;
  }
  .card__img {
    max-width: 192px;
    max-height: 300px;
  }
}

@media screen and (max-width: 360px) {
  .btns {
    flex-direction: column;
  }

  .search_bar {
    width: 250px;
  }
}